@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --color-earth-dark: #121210;
  --color-earth-card: #1C1B18;
  --color-earth-sand: #E4DFD5;
  --color-earth-accent: #C2A676;
  --color-earth-muted: #8C857B;
}

body {
  background-color: var(--color-earth-dark);
  color: var(--color-earth-sand);
  font-family: system-ui, -apple-system, sans-serif;
}